#miljodir-logo {
    padding: 5%;
    width: 90%;
    /* height: 80px; */
}

#map {
    border-radius: 1px;
    -moz-border-radius: 1px;
    overflow: hidden;
    border: solid 1px #666666;
    height: 400px;
    width: 100%;
    margin: auto;
    padding: 0;
}

img.ramme {
    border-radius: 1px;
    -moz-border-radius: 1px;
    overflow: hidden;
    border: solid 1px #666666;
    width: 100%;
}

.noBorder {
    border: none;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
}

.borderless-lightgrey {
    border: 1px;
    background-color: #f2f2f2;
    width: 100%;
    margin-bottom: 12px;
}

.borderless td,
.borderless th {
    border: none;
}

.centeredRow {
    text-align: center
}

.heading {
    font-size: 1.5em;
    font-family: "Verdana";
    font-weight: bold;
    margin-bottom: 3px;
    color: #016968;
}

.headingMedium {
    font-size: 1.4em;
    font-family: "Verdana";
    font-weight: normal;
    margin-bottom: 3px;
    color: #016968;
}

.centerImg {
    vertical-align: middle;
    text-align: center;
    top: 50%;
    bottom: 50%;
}

h1 {
    font-size: 2.11em;
    font-family: 'Verdana';
    color: #005E5D;
}

h2 {
    /* margin-top: 0;
    padding-top: 0;
    font-weight: normal;
    font-family: 'SofiaPro-Light';
    font-size: 16px; */
    color: #005E5D;
    font-size: 1.8em;
    /* line-height: 1; */
}

h3 {
    color: #005E5D;
    font-size: 1.6em;
}

a {
    color: #005E5D;
}

.table td, .table th {
    padding: 0.4rem
}

.collapsible {
    background-color: #ebf3f3;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
  }

  .collapsible:focus {
    outline: none;
  }
  
.active, .collapsible:hover {
    background-color: #fff3f3;
    outline: none;
}
  
.collapsible:after {
    content: '\002B';
    color: black;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    outline: none;
}
  
.active:after {
    content: "\2212";
    outline: none;
}

.content {
    padding: 0 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

input.gridjs-input {
    padding: 3px 3px;
}

.btn-primary, .btn-primary:active, .btn-primary:visited .btn-primary:focus .b {
    background-color: #005E5D !important;
    border-color: #005E5D !important;
    box-shadow: none !important;
}

.btn-primary:hover {
    background-color: #106E6D !important;
    border-color: #106E6D !important;
    box-shadow: none !important;
}

#footer {
    height: 150px;
    text-align: center;
}